/*-backups/
/production/
/fabrication-toolkit-options.json
/fp-info-cache
/fp-lib-table

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
~*.lck
\#auto_saved_files#